.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border: 2px solid;
  gap: 40px;
}

.loader-stats {
  color: white;
  display: flex;
  flex-direction: column;
}
