.mainview-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  padding: 20px 5rem;
}

.pokedex-icon {
  width: 130px;
  object-fit: cover;
  filter: drop-shadow(1px 10px 12px rgba(255, 255, 255, 0.4));

  &:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: scale(1.1);
  }
}

.pokemon-container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.pokemon-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 100%;
}

.pokemon-stats-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pokemon-splash-container {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-abilities-container {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.pokemon-abilities-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.pokemon-splash {
  width: 400px;
  height: 400px;
  filter: drop-shadow(1px 10px 12px white);

  &:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: scale(1.05);
  }
}

.random-pokemon-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  width: 100%;
  height: 20%;
}

.pokedex-bg {
  background-image: url("https://res.cloudinary.com/dw3mwclgk/image/upload/v1715108147/bcgd34omleiqcilkv7ob.jpg")
    rgba(3, 16, 30, 0.6);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.pokemon-view-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pour les écrans d'une largeur maximale de 1200 pixels */
@media screen and (max-width: 1200px) {
  .mainview-container {
    padding: 20px 1rem;
  }
  .pokemon-splash {
    width: 300px;
    height: 300px;
  }
}

/* Pour les écrans d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px) {
  .mainview-container {
    height: auto;
    min-height: 100vh;
    padding: 10px;
  }

  .pokemon-view-header {
    height: 10%;
    justify-content: start;
    gap: 20px;
    padding: 1.5rem;
  }

  .pokemon-container {
    height: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .pokedex-icon {
    width: 80px;
    height: auto;
    object-fit: cover;
  }

  .pokemon-stats-container,
  .pokemon-splash-container,
  .pokemon-abilities-container {
    width: 100%;
  }

  .pokemon-stats-box {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pokemon-splash-container {
    align-items: center;
  }

  .pokemon-splash {
    width: 230px;
    height: 230px;
    object-fit: cover;
  }

  .random-pokemon-btn {
    margin-top: 10px;
    width: 250px;
    height: 50px;
    font-size: 16px;
  }
}
