.pokedex-container {
  background-color: #121113;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
}

.pokemon-main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  color: #eeeef0;
}

.pokemon-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Pour les écrans d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px) {
  .pokedex-container {
    height: auto;
    gap: 20px;
  }
  .pokemon-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
